#root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

#myHeader {
  height: 15dvh;
  /* height: calculate(15dvh%); */
  width: 100%;

  display: flex;
  align-items:center;
  justify-content: space-evenly;
  background-color: #022677;
}

#myTitle {
color: #F4E9AD;
font-size:20px;
font-family: monospace;
}

#wildcardsContainer{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: right;
  background-color: #022677;
}

#myMain {
  height: 85dvh;
  width: 100%;
  background-image: url('fondo.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#myQuestionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 75px;
}

#myLevelContainer {
  height: 15dvh;
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.myQuestionBox {
  background-color: #E6E6E6;
  border: 2px solid white;
  margin: 10px;
  padding: 20px;
  border-radius: 30px;
}

.myAnswerBox {
  background-color: #1BBBF8;
  border: 2px solid #022677;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.myTryingrBox {
  background-color: #FFD074;
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}

.myWrongBox {
  background-color: #FF5454;
  border: 2px solid #022677;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.myGuessedBox {
  background-color: #C1FF72;
  border: 2px solid #022677;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.myFilterBox{
  filter: opacity(50%);
}

.shadow-out {
  /* box-shadow: inset 0 0 20px 5px rgba(255, 255, 255, 0.25); Sombras interiores con desenfoque */
  box-shadow: 0 0 10px 5px rgba(229, 239, 203, 0.25);
/* esta es un poco mas pequeña */
}

.shadow-bigger {
  box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.5);
  /* box-shadow: 0 0 10px 5px rgba(229, 239, 203, 0.25); resplandor */
}

.wildcardButon {
  background-color: #1BBBF8;
  border:  2px solid #022677;
  margin: 10px;
  padding: 10px;

  height: 20px;
  width: 20px;
  border-radius: 30px;
}

/* Comodines de 50% */
.button50Ok {
  /* background-image: url('50.ok.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center; */
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #1BBBF8;
  border:  2px solid #022677;

  height: 20px;
  width: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.button50Done {
  /* background-image: url('50.done.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center; */
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #FF5454;
  border:  2px solid #022677;

  height: 20px;
  width: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.buttonChangeOk {
  background-image: url('change.ok.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #1BBBF8;
  border:  2px solid #022677;

  height: 20px;
  width: 20px;
}

.buttonChangeDone {
  background-image: url('change.done.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10;
  padding: 10px;
  border-radius: 30px;
  background-color: #FF5454;
  border:  2px solid #022677;

  height: 20px;
  width: 20px;
}

.buttonCallOk {
  /* background-image: url('call.ok.jpg'); */
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #1BBBF8;
  border:  2px solid #022677;

  height: 20px;
  width: 20px;
}

.buttonCallDone {
  /* background-image: url('call.done.jpg'); */
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10;
  padding: 10px;
  border-radius: 30px;
  background-color: #FF5454;
  border:  2px solid #022677;

  height: 20px;
  width: 20px;
}

.guessedLevelBox {
  background-color: #C1FF72;
  border-radius: 30px;

  height: calc((100dvw / 50));
  width: calc((100dvw / 50));
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  font-size: calc((100dvw / 70));
}

.wrongLevelBox {
  background-color: #FF5454;
  border-radius: 30px;

  height: calc((100dvw / 50));
  width: calc((100dvw / 50));
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  font-size: calc((100dvw / 70));
}

.nextLevelBox {
  background-color: #F4E9AD;
  border-radius: 30px;

  height: calc((100dvw / 50));
  width: calc((100dvw / 50));
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  font-size: calc((100dvw / 70));
}

.levelBox {
  background-color: white;
  border-radius: 30px;

  height: calc((100dvw / 50));
  width: calc((100dvw / 50));
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  font-size: calc((100dvw / 70));
}

#myPanel {

  position: fixed;
  /* Esto hace que la ventana sea fija */
  top: center;
  /* Posición desde arriba */
  left: center;
  /* Posición desde la izquierda */
  width: 300px;
  /* Ancho de la ventana */
  height: 150px;
  /* Alto de la ventana */
  background-color: #022677;
  /* Color de fondo */
  border: 3px solid #1BBBF8;
  /* Borde opcional */
  border-radius: 4px;
  padding: 20px;
  /* Espaciado interno */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); Sombra opcional */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.closeButton {
  background-color: #1BBBF8;
  border: 1px solid #022677;
  margin: 30px 0px 0px 0px;
  padding: 10px;
  font-size: 15px;
  color: #022677;
}


/* confetis */
.confetti-container {
  /* user-select: none; */
  z-index: 10;
  width: 100%;
  height: 100%;
}

.confetti {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
}

.confetti .rectangle {
  width: .5rem;
  height: 2rem;
  /* background-color: var(--bg); */
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.pink {
  background-color: pink;
}

.confetti i {
  width: 3rem;
  height: 3rem;
  margin: 0 0.2rem;
  animation-name: confetti;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-duration: calc(70s / var(--speed)); */
}

.confetti i:nth-child(even) {
  transform: rotate(90deg);
}

@keyframes confetti {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}